<?xml version="1.0" ?>
<config>
    <modules>
        <Knm_Elefunds>
            <version>1.0.0</version>
        </Knm_Elefunds>
    </modules>

    <global>
        <models>
            <elefunds>
                <class>Knm_Elefunds_Model</class>
                <resourceModel>elefunds_mysql4</resourceModel>
            </elefunds>
            <elefunds_mysql4>
                <class>Knm_Elefunds_Model_Mysql4</class>
                <entities>
                    <donation>
                        <table>elefunds_donation</table>
                    </donation>
                    <receivers>
                        <table>elefunds_receivers</table>
                    </receivers>
                </entities>
            </elefunds_mysql4>
        </models>
        
        <blocks>
            <elefunds>
                <class>Knm_Elefunds_Block</class>
            </elefunds>
        </blocks>

        <helpers>
            <elefunds>
                <class>Knm_Elefunds_Helper</class>
            </elefunds>
        </helpers>

        <resources>
            <elefunds_setup>
                <setup>
                    <module>Knm_Elefunds</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <use>default_setup</use>
            </elefunds_setup>

            <elefunds_write>
                <use>default_write</use>
            </elefunds_write>
            <elefunds_read>
                <use>default_read</use>
            </elefunds_read>
        </resources>
        
        <events>
            <order_cancel_after>
                <observers>
                    <cancelDonation>
                        <type>model</type>
                        <class>elefunds/observer</class>
                        <method>cancelDonation</method>
                    </cancelDonation>
                </observers>
            </order_cancel_after>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Knm_Elefunds>
                    <files>
                        <default>Elefunds.csv</default>
                    </files>
                </Knm_Elefunds>
            </modules>
        </translate>
        <layout>
            <updates>
                <elefunds>
                    <file>knm_elefunds.xml</file>
                </elefunds>
            </updates>
        </layout>
    </adminhtml>

	<frontend>
		<routers>
			<elefunds>
				<use>standard</use>
				<args>
					<module>Knm_Elefunds</module>
					<frontName>elefunds</frontName>
				</args>
			</elefunds>
		</routers>
		<events>
            <elefunds_checkout_review_before_enable>
                <observers>
                    <limitPayments>
                        <type>model</type>
                        <class>elefunds/observer</class>
                        <method>limitPayments</method>
                    </limitPayments>
                </observers>
            </elefunds_checkout_review_before_enable>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <addDonation>
                        <type>model</type>
                        <class>elefunds/observer</class>
                        <method>onSaveOrder</method>
                    </addDonation>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <checkout_onepage_controller_success_action>
                <observers>
                    <captureDonation>
                        <type>model</type>
                        <class>elefunds/observer</class>
                        <method>onOrderFinished</method>
                    </captureDonation>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_order_save_after>
                <observers>
                    <captureDonation>
                        <type>model</type>
                        <class>elefunds/observer</class>
                        <method>onOrderSaved</method>
                    </captureDonation>
                </observers>
            </sales_order_save_after>
            <sales_quote_item_set_product>
                <observers>
                    <noRules>
                        <type>model</type>
                        <class>elefunds/observer</class>
                        <method>excludeDonationFromDiscount</method>
                    </noRules>
                </observers>
            </sales_quote_item_set_product>
        </events>

		<layout>
			<updates>
				<elefunds>
					<file>knm_elefunds.xml</file>
				</elefunds>
			</updates>
		</layout>
	</frontend>
	
	<default>
        <elefunds>
            <config>
                <active>0</active>
                <product>donation</product>
            </config>
        </elefunds>
    </default>

</config>
