/*#elefunds_round_sum_container {
    border-style: solid;
    border-width: 0 1px;
    border-color: #D9DDE3;
}
*/
#elefunds {
    border-style: solid;
    border-width: 0 1px;
    border-color: #D9DDE3;
}
