/*
 * ++ One Step Checkout Success (Social-Media-Share) Specific Styling ++
 */
#elefunds_share {
    width: 450px;
    padding: 20px 20px 10px;
    background: #f4f4f4;
    border: 4px solid #ccc;
    border-radius: 8px;
    text-align: center;
}
#elefunds_share > a {
    text-decoration: none;
}
#elefunds_share h3 {
    font-weight: bold;
    color: #222;
    margin: 0;
}
#elefunds_share p {
    font-size: 14px;
    color: #666;
    margin: 20px 0 10px;
    padding: 10px 10px 20px;
}
#elefunds_share span {
    font-style: normal;
    font-size: 11px;
    line-height: 21px;
    margin-top: 6px;
    vertical-align: top;
    display: block;
}


/*
 * ++ One Step Checkout Specific Styling ++
 */

/*
 * Hide elefunds-module first until JavaScript replaced it.
 */
#onestepcheckout-form .elefunds {
    display: none;
}
#onestepcheckout-form .elefunds.replaced {
    display: block;
}


/*
 * Hide sum in elefunds-container
 * elefunds-donation is always shown in order-review
 */
#elefunds_round_sum_container strong {
    display: none;
}

/*
 * ++ One Step Checkout - Row in Order-review which shows the elefunds-donation ++
 */
.elefunds_donation_row {
    display: none;
}
.elefunds_donation_row.active {
    display: table-row;
}
.elefunds_donation_row .title {
    font-style: italic;
}

/*
 * Force sizes to auto
 * Not able to prevent !important here because of inline-width-styles
 */
#onestepcheckout-form .elefunds #elefunds_top,
#onestepcheckout-form .elefunds #elefunds_bottom,
#onestepcheckout-form .elefunds #elefunds_round_sum_container {
    width: auto !important;
}


#onestepcheckout-form .elefunds {
    border: 1px solid rgb(196, 196, 196);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-top: 30px;
}
#onestepcheckout-form #elefunds_logo {
    padding: 7px;
}
#onestepcheckout-form #elefunds_arrow {
    background: url(https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/light/arrow_bg.png) repeat-x;
    color: #444;
    margin: 0 0 10px 0px;
    position: relative;
}
#onestepcheckout-form #elefunds_arrow #elefunds_checkbox {
    cursor: pointer;
    left: 21px;
    margin-top: 3px;
    margin-right: 3px;
    position: absolute;
    top: 15px;
    visibility: hidden;
}
/*
 * IE8 Fix: TODO - Solution with conditional comments
 */
#onestepcheckout-form #elefunds_arrow #elefunds_checkbox {
    visibility: visible\0/;
}
#onestepcheckout-form #elefunds_arrow #elefunds_checkbox:checked + label {
    background: url('https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/light/orange/arrow_on.png') no-repeat;
}
#onestepcheckout-form #elefunds_arrow label {
    background: url(https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/light/orange/arrow_off.png) no-repeat;
    cursor: pointer;
    color: #DDD;
    display: block;
    font-family: 'Lucida Grande';
    font-size: 11px;
    font-weight: bold !important;
    height: 43px;
    padding: 6px 0 0 60px;
}

#onestepcheckout-form #elefunds_top {
    background: url(https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/light/top_bar.png) repeat-x #efefef;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#onestepcheckout-form #elefunds_top > div {
    margin-bottom: 10px;
}
#onestepcheckout-form #elefunds_top > div:before,
#onestepcheckout-form #elefunds_top > div:after {
    content:"";
    display:table;
}
#onestepcheckout-form #elefunds_top > div:after {
    clear:both;
}
#onestepcheckout-form #elefunds_top > div {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


#onestepcheckout-form #elefunds_plus_minus {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    margin-left: 15px;
}
#onestepcheckout-form #elefunds_plus_minus a:link,
#onestepcheckout-form #elefunds_plus_minus a:visited {
    text-decoration: none;
}
#onestepcheckout-form #elefunds_decrease img {
    visibility: hidden;
}
#onestepcheckout-form #elefunds_decrease {
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #aaaaaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#aaaaaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#aaaaaa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#aaaaaa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */

    border: 1px solid #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 5px rgb(207, 207, 207);
    -moz-box-shadow: 0 0 5px rgb(207, 207, 207);
    box-shadow: 0 0 5px rgb(207, 207, 207);

    display: inline-block;
    height: 19px;
    position: relative;
    width: 19px;
}
#onestepcheckout-form #elefunds_decrease:before {
    content: "-";
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    left: 6px;
    line-height: 18px;
    position: absolute;
    text-shadow: 0px 0px 2px #aaa;
    top: -1px;
}
#onestepcheckout-form #elefunds_increase img {
    visibility: hidden;
}
#onestepcheckout-form #elefunds_increase {
    background: #fcaa6c; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcaa6c 0%, #f7842c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcaa6c), color-stop(100%,#f7842c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcaa6c 0%,#f7842c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcaa6c 0%,#f7842c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcaa6c 0%,#f7842c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcaa6c 0%,#f7842c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcaa6c', endColorstr='#f7842c',GradientType=0 ); /* IE6-9 */

    border: 1px solid rgb(207, 102, 21);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 5px rgb(207, 207, 207);
    -moz-box-shadow: 0 0 5px rgb(207, 207, 207);
    box-shadow: 0 0 5px rgb(207, 207, 207);

    display: inline-block;
    height: 19px;
    position: relative;
    width: 19px;
}
#onestepcheckout-form #elefunds_increase:before {
    content: "+";
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    left: 4px;
    line-height: 18px;
    position: absolute;
    text-shadow: 0px 0px 2px #aaa;
    top: 1px;
}

#onestepcheckout-form #elefunds_input_container {
    float: left;
    margin-left: 5px;
}
#onestepcheckout-form #elefunds_input_container #elefunds_currency {
    background: url('https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/light/currency_bg.png') repeat-x;
    border: 1px solid #7f807f;
    -wekbit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    float: left;
    height: 18px;
    padding: 4px 8px;
    text-shadow: 0 1px 0 #c6cfd8;

}
#onestepcheckout-form #elefunds_input_container #elefunds_input {
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid #777;

    -webkit-box-shadow: inset 0 0 7px rgb(175, 175, 175);
    -moz-box-shadow: inset 0 0 7px rgb(175, 175, 175);
    box-shadow: inset 0 0 7px rgb(175, 175, 175);

    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;

    font-size: 14px;
    float: left;
    height: 22px;
    margin-left: -4px;
    padding: 2px 4px;
    width: 111px;
}

#onestepcheckout-form #elefunds_bottom {
    margin: 0;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver {
    background: url('https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/receiver_off_bg.png') repeat-x;
    border: 1px solid rgb(179, 179, 179);
    border-left: none;
    border-right: none;

    -webkit-box-shadow: inset 0 -3px 2px -1px rgb(218, 218, 218);
    -moz-box-shadow: inset 0 -3px 2px -1px rgb(218, 218, 218);
    box-shadow: inset 0 -3px 2px -1px rgb(218, 218, 218);

    cursor: pointer;
    height: 41px;
    margin: 0;
    margin-top: -1px;
    padding: 7px;
    position: relative;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver.elefunds_receiver_selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver.elefunds_receiver_selected label {
    background: url('https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/checkbox_on.png') 2px 11px no-repeat;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver input[type="checkbox"] {
    left: 14px;
    position: absolute;
    top: 20px;
    visibility: hidden;
}
/*
 * IE8 Fix - TODO: Solution with conditional comments
 */
#onestepcheckout-form #elefunds_bottom .elefunds_receiver input[type="checkbox"] {
    visibility: visible\0/;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver label {
    background: url(https://0ce8ff584bf613ee6639-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/checkbox_off.png) no-repeat 2px 11px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    padding: 0;
    width: 200px;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver label img {
    position: absolute;
    left: 35px;
    opacity: 0.7;
    top: 8px;
}
#onestepcheckout-form #elefunds_bottom .elefunds_receiver.elefunds_receiver_selected label img {
    opacity: 1.0;
}

#onestepcheckout-form #elefunds_receipt {
    margin: 18px 0 0 14px;
    overflow: hidden;
}
#onestepcheckout-form #elefunds_receipt input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
#onestepcheckout-form #elefunds_receipt label {
    float: left;
    line-height: 14px;
}
#onestepcheckout-form .elefunds #elefunds_round_sum_container {
    margin: 20px 15px;
}



/* +++ Tooltips +++  */
/* TOOLTIPS */

#tiptip_content {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #222;
    background: rgba(0,  0,  0,  0.7);
    padding: 3px;
    overflow: hidden;
    width: 260px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -wekbit-box-shadow: 0 3px 7px 0.3;
    -moz-box-shadow:  3px 7px 0.3;
    box-shadow:  3px 7px 0.3;;
}

#tiptip_title {
    background-color: #f5f5f5;
    padding: 10px 15px 8px;
    color: #222;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;

    border-bottom: 1px solid #eee;
    margin: 0;
}

#tiptip_inner {
    font-size: 12px;
    color: #222;
    background-color: #fff;
    padding: 14px;

    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    margin-bottom: 5px;
}

#tiptip_holder.tip_left {
    margin-right: 5px;
}

#tiptip_holder.tip_right {
    margin-left: 5px;
}

#tiptip_holder.tip_bottom {
    margin-top: 5px;
}

#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}
#tiptip_arrow {
    border-right-color: rgb(85, 85, 85);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(25,25,25);
    border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(25,25,25);
    border-left-color: rgba(25,25,25,0.92);
}